* {
    box-sizing: border-box;
}

body {
    display: flex;
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
    flex-direction: column;
}



header {
    padding: 20px 35px;
    display: flex;
    background-color: #22223b;
    justify-content: space-between;
    flex-wrap: wrap;
    color: #f2e9e4;
}

header h1 {
    font-weight: bold;
    margin: 0;
    font-size: 36px;
    color: #f2e9e4;
}

header a {
    text-decoration: none;
    color: #f2e9e4;
    }
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    color: #f2e9e4;
    text-decoration: underline;
}


footer {
    padding: 1em;
    background-color: #22223b;

}

h2 {
    float: left;
    width: 20%;
    border-right: solid;
    flex: 1 30%;
    font-size: 36px;
    color: #4a4e69;
    font-weight: bold;
}



section {
    padding: 100px;
}

.sections {
    background-color: #c9ada7;
    color: #4a4e69;
}


.primary-border {
    border-left: 2px solid;
}

.hero {
    background-image: url(../images/hero.jpeg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    }



.about, .work {
    border-bottom: 1px solid;
    flex-wrap: wrap;
    padding: 0 10px 30px 10px;
    flex: 2 70%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}


/* contact section */


.contact-info {
    text-decoration: underline;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    font-size: 20px;
}

/* contact end */


/* container grid */

.grid-container {

}

.grid-wrapper {

}

/* container grid end */